{% extends "auth_layout.html" %}

{% block title %}
    Register
{% endblock  %}

{% block content %}
    <p class='title'>
        REGISTER
    </p>
    <form action={% url 'register' %} method="POST"> {% csrf_token %}
        <input type="text" placeholder="Username.." name="username">
        
        <input type="email" placeholder="Email.." name="email">
        
        <input type="password" placeholder="Senha.." name="password">

        <input type="password" placeholder="Confirme sua senha.." name="confirm_password">
        
        <input type="text" placeholder="Primeiro Nome.." name="first_name">
        
        <input type="text" placeholder="Ultimo Nome.." name="last_name">
        
        <input type="submit" placeholder="Enviar" name="submit">
    </form>
{% endblock  %}